<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="gitreponame" value="vtwinapp" />
    <add key="gitprodreponame" value="clo365production" />
    <add key="gitprodremotename" value="production-origin" />
    <add key="gitrepourl" value="http://github.com/amaldevom/vtwinapp.git" />
    <add key="gitprodrepourl" value="https://github.com/amaldevom/clo365production.git" />
    <add key="gitapiurl" value="https://api.github.com/user" />
    <add key="gitrepopermissionurl" value="https://api.github.com/repos/amaldevom/vtwinapp/collaborators/" />
    <add key="gitpat" value="MjFjMDhkYTM4ZDdiYzVjZjQwN2NmYjFjNDg3YzcwZmY2NzY0MDQyOQ==" />-->
    
    
    <add key="gitreponame" value="customlearning_staging" />
    <add key="gitprodreponame" value="sp-custom-learning" />
    <add key="gitprodremotename" value="production-origin" />
    <add key="gitrepourl" value="https://github.com/Microsoft/customlearning_staging.git" />
    <add key="gitprodrepourl" value="https://github.com/SharePoint/sp-custom-learning.git" />
    <add key="gitapiurl" value="https://api.github.com/user" />
    <add key="gitrepopermissionurl" value="https://api.github.com/repos/Microsoft/customlearning_staging/collaborators/" />
    <add key="gitpat" value="MWNiOGM3OWFjYWRjMTA4MjIyNWU5M2I5NDE2Mzk3MTdkYzNkMDExMQ==" />
    
    
    <add key="gitfoldername" value="docs/v2" />
    <add key="imageSizeLimit" value="280,200" />
    <add key="configXmlRelativePath" value="config.xml" />
    <add key="filesRelativePath" value="../../Files" />
    <add key="assetjsonFilename" value="assets.json" />
    <add key="playlistjsonFilename" value="playlists.json" />
    <add key="metadatajsonFilename" value="metadata.json" />
    <add key="repoImagePathTechnology" value="images/technologies/" />
    <add key="repoImagePathCategory" value="images/categories/" />
    <add key="repoImagePathAudience" value="images/audiences/" />
    <add key="repoImagePathPlaylist" value="images/playlists/" />
  </appSettings>
</configuration>