<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GithubSharp" version="0.0.5.1" targetFramework="net452" />
  <package id="GithubSharp.Core" version="0.0.5.1" targetFramework="net452" />
  <package id="GithubSharp.Plugins.All" version="0.0.5.1" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.25.3" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.235" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>